#form-container {
    display: none;
}

.background {
    background-image: url("../media/hw_p1.jpeg");
    /*background-repeat: no-repeat;*/
    background-size:100% 100%;
}

.nav-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.invis {
    display: none;
    font-size: 50px;
}

.invis2 {
   display: none;
}

h1, h2, p, form {
	color: white;	
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#extra-credit-table {
	background-color: white;

}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
}
